<div class="bs-docs-header" id="content" style="box-sizing: border-box;padding-top: 60px;padding-bottom: 60px;
        font-size: 24px;text-align: left;position: relative;
        padding: 30px 15px;padding-top: 30px;padding-right-value: 15px;
        padding-bottom: 30px;padding-left-value: 15px;padding-left-ltr-source:
        physical;padding-left-rtl-source: physical;padding-right-ltr-source:
        physical;padding-right-rtl-source: physical;color: #f7f7f7;text-align: center;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);background-color: rgba(169, 171, 170, 0.97);
        background-image: linear-gradient(to bottom, rgba(255, 243, 255, 0.05) 0px, rgba(0, 0, 0, 0.06) 100%);
        background-repeat: repeat-x;">
  <div class="container-fluid">
    <span class="media-left"><%= image_tag "pticon.png", size: "300x300" %></span>
    <h1>Pass It</h1>
  </div>
</div>

<div class="bs-docs-header" id="content" style="box-sizing: border-box;padding-top: 60px;padding-bottom: 60px;
        font-size: 24px;text-align: left;position: relative;
        padding: 30px 15px;padding-top: 30px;padding-right-value: 15px;
        padding-bottom: 30px;padding-left-value: 15px;padding-left-ltr-source:
        physical;padding-left-rtl-source: physical;padding-right-ltr-source:
        physical;padding-right-rtl-source: physical;color: #f7f7f7;text-align: center;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);background-color: rgba(230, 76, 60, 0.95);
        background-image: linear-gradient(to bottom, rgba(255, 243, 255, 0.05) 0px, rgba(0, 0, 0, 0.05) 100%);
        background-repeat: repeat-x;">
  <div class="container-fluid">
    <!--<span class="media-left"><#%= image_tag "pticon.png", size: "300x300" %></span>-->
    <h2>Simple solution to help you benefit from the staff that collecting dust in your hose</h2>
    <span class="media-left"><%= image_tag "driver.png", size: "200x200" %></span>
    <span class="media-left"><%= image_tag "drill.png", size: "200x200" %></span>
  </div>
</div>

<div class="bs-docs-header" id="content" style="box-sizing: border-box;padding-top: 60px;padding-bottom: 60px;
        font-size: 24px;text-align: left;position: relative;
        padding: 30px 15px;padding-top: 30px;padding-right-value: 15px;
        padding-bottom: 30px;padding-left-value: 15px;padding-left-ltr-source:
        physical;padding-left-rtl-source: physical;padding-right-ltr-source:
        physical;padding-right-rtl-source: physical;color: #f7f7f7;text-align: center;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);background-color: rgba(59, 152, 212, 0.98);
        background-image: linear-gradient(to bottom, rgba(255, 243, 255, 0.06) 0px, rgba(0, 0, 0, 0.06) 100%);
        background-repeat: repeat-x;">
  <div class="container-fluid">
    <!--<span class="media-left"><#%= image_tag "pticon.png", size: "300x300" %></span>-->
    <h2>Make use of the staff you own with your neighbors</h2>
    <span class="media-left"><%= image_tag "cds.png", size: "200x200" %></span>
    <span class="media-left"><%= image_tag "toys.png", size: "200x200" %></span>
  </div>
</div>

<div class="bs-docs-header" id="content" style="box-sizing: border-box;padding-top: 60px;padding-bottom: 60px;
        font-size: 24px;text-align: left;position: relative;
        padding: 30px 15px;padding-top: 30px;padding-right-value: 15px;
        padding-bottom: 30px;padding-left-value: 15px;padding-left-ltr-source:
        physical;padding-left-rtl-source: physical;padding-right-ltr-source:
        physical;padding-right-rtl-source: physical;color: #f7f7f7;text-align: center;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);background-color: rgba(255, 215, 60, 0.98);
        background-image: linear-gradient(to bottom, rgba(255, 243, 255, 0.11) 0px, rgba(0, 0, 0, 0.08) 100%);
        background-repeat: repeat-x;">
  <div class="container-fluid">
    <!--<span class="media-left"><#%= image_tag "pticon.png", size: "300x300" %></span>-->
    <h2></h2>
    <span class="media-left"><%= image_tag "abook.png", size: "200x200" %></span>
    <span class="media-left"><%= image_tag "scale.png", size: "200x200" %></span>
  </div>
</div>

<div class="bs-docs-header" id="content" style="box-sizing: border-box;padding-top: 60px;padding-bottom: 60px;
        font-size: 24px;text-align: left;position: relative;
        padding: 30px 15px;padding-top: 30px;padding-right-value: 15px;
        padding-bottom: 30px;padding-left-value: 15px;padding-left-ltr-source:
        physical;padding-left-rtl-source: physical;padding-right-ltr-source:
        physical;padding-right-rtl-source: physical;color: #f7f7f7;text-align: center;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);background-color: rgba(41, 180, 100, 0.98);
        background-image: linear-gradient(to bottom, rgba(255, 243, 255, 0.05) 0px, rgba(0, 0, 0, 0.06) 100%);
        background-repeat: repeat-x;">
  <div class="container-fluid">
    <!--<span class="media-left"><#%= image_tag "pticon.png", size: "300x300" %></span>-->
    <h2>Some keep very old staff or out of condition electronics</h2>
    <span class="media-left"><%= image_tag "books.png", size: "200x200" %></span>
    <span class="media-left"><%= image_tag "vacum.png", size: "200x200" %></span>
  </div>
</div>






