<%= form_for @item_request, :html => { :class => "form-horizontal item_request" } do |f| %>

    <% if @item_request.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@item_request.errors.count, "error") %> prohibited this item_request from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @item_request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


    <!-- required plugins -->
    <script type="text/javascript" src="assets/javascripts/date.js"></script>

    <!-- jquery.datePicker.js -->

    <script>
        $(function() {
            $("#item_request_fromDate").datepicker({
                dateFormat: 'yy-mm-dd',
                numberOfMonths: 2,
                minDate: 0,
                onSelect: function(selected) {
                    $("#item_request_toDate").datepicker("option","minDate", selected)
                    calculatePrice();
                }

            });
            $("#item_request_toDate").datepicker({
                numberOfMonths: 2,
                dateFormat: 'yy-mm-dd',
                onSelect: function(selected) {
                    $("#item_request_fromDate").datepicker("option","maxDate", selected)
                    calculatePrice();
                }
            });


            //$("item_request_price").value
        });
        function calculatePrice() {
            var fromDate = new Date(document.getElementById("item_request_fromDate").value);
            var toDate = new Date(document.getElementById("item_request_toDate").value);
            var timeDiff = Math.abs(fromDate.getTime() - toDate.getTime())
            var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
            var totalPrice = document.getElementById("item_request_itemPrice").value;
            if (diffDays>0) {
                totalPrice = totalPrice * diffDays;
            }
            totalPrice = Math.round(totalPrice * 1e2)/1e2
            document.getElementById("item_request_price").value = totalPrice;
        }
    </script>
    Item Name:<%= @itemname %>
    <%= image_tag @itemimage.to_s, size: "300x300" %>
    Item Price:<%= @itemprice %>/day
    <%= f.hidden_field :itemPrice, {:value => @itemprice} %>


    <br> <br>
    Item Unavailability Dates:
    <% if !@dates %> None <%else %>
    <% @dates.each do |item_request| %>
        <tr>
          From <td><%= item_request.fromDate %></td>
          To <td><%= item_request.toDate %></td>
        </tr>
     <% end %>
    <% end %>
    <%= f.hidden_field :item_id, {:value => @item_request.item_id} %>
    <%= f.hidden_field :user_id, {:value => @item_request.user_id} %>


  <div class="control-group">
    <%= f.label :fromDate, :class => 'control-label' %>
    <div class="controls">
      <!--%= f.date_select :fromDate, :class => 'form-control' %-->
      <div id="fromdate">

      <%= f.text_field :fromDate, :class => 'form-control' %>
      </div>
    </div>
    <%= error_span(@item_request[:fromDate]) %>
  </div>
  <div class="control-group">
    <%= f.label :toDate, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :toDate, :class => 'form-control' %>

    </div>
    <%= error_span(@item_request[:toDate]) %>
  </div>
  <div class="control-group">
    <b>Message to owner</b>
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@item_request[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <div id="price">
        <%= f.text_field :price, :class => 'form-control' %>
      </div>
    </div>
    <%= error_span(@item_request[:price]) %>
  </div>



  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            items_search_path, :class => 'btn btn-default' %>

<% end %>
