<%= form_for @item_request, :html => { :class => "form-horizontal item_request" } do |f| %>

    <% if @item_request.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@item_request.errors.count, "error") %> prohibited this item_request from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @item_request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
    Item Name:<%= @itemname %>
    <%= image_tag @itemimage.to_s, size: "300x300" %>
    Item Price:<%= @itemprice %>/day

    <%= f.hidden_field :item_id, {:value => @item_request.item_id} %>
    <%= f.hidden_field :user_id, {:value => @item_request.user_id} %>


  <div class="control-group">
    <%= f.label :fromDate, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :fromDate, :class => 'form-control' %>
    </div>
    <%= error_span(@item_request[:fromDate]) %>
  </div>
  <div class="control-group">
    <%= f.label :toDate, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :toDate, :class => 'form-control' %>
    </div>
    <%= error_span(@item_request[:toDate]) %>
  </div>
  <div class="control-group">
    <b>Message to owner</b>
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@item_request[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%= error_span(@item_request[:price]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            items_search_path, :class => 'btn btn-default' %>

<% end %>
