<%= form_for(@item_request) do |f| %>
  <% if @item_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_request.errors.count, "error") %> prohibited this item_request from being saved:</h2>

      <ul>
      <% @item_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= @itemname %>
    <%= @itemprice %>
    <%= @item_request.item_id%>


    <%= f.hidden_field :item_id, {:value => @item_request.item_id} %>
    <%= f.hidden_field :user_id, {:value => @item_request.user_id} %>

  <div class="field">
    <%= f.label :fromDate %><br>
    <%= f.date_select :fromDate %>
  </div>
  <div class="field">
    <%= f.label :toDate %><br>
    <%= f.date_select :toDate %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
